html,body {
    font-family: 'Raleway', sans-serif;
    padding: 3em 2em;
    font-size: 18px;
    color: #aaa
  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1 { font-size: 3.5em; }
  h2 {
    color: #888;
    font-size: 2em;
  }

  #home {
      height: 100vh;
      background: #222;
  }